
  <style>


 .bg{
      height: -webkit-fill-available;
      background: #fff;
 }
 .customer p{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0px;
    cursor: pointer;
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <p ui-sref="store.ShippingDelivery">Shipping and Delivery<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p>
          <p ui-sref="store.ReturnRefunds">Return and Refunds <b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p>
          <p ui-sref="store.PaymentPricingPromotions">Payment, Pricing & Promotions <b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p>
          <p ui-sref="store.OrdersQuestion">Orders <b style="color: #ff771c;;float: right;font-size: 15px;cursor: pointer;">&#9002;</b></p>
          
          <p ui-sref="store.ManagingAccount">Managing Your Account <b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p>
        </div>  
      </div>
    </div>
  </div>
