<div class="container">
        <div class="forgot-password">
            <div class="forgot-password-info">
                <div class="rev">
                    <a href="#/login"><img src="resources/images/rev.png" alt="rev"></a>
                </div>
                <div class="forgot-password-logo">
                    <img src="resources/images/forgot-img.png" alt="pop-imag" />
                </div> 
                <p style="text-align: center;font-size: 14px;color: #000;font-weight: bold;padding-top: 25px;">Change Password</p>
                <p style="text-align: center;font-size: 14px;">Enter OTP and new password<br/> 
                </p>
                <form name="ctrl.confirmPasswordResetForm" ng-submit="ctrl.confirmPasswordReset()" novalidate="">
                        <input type="text" name="resetCode" placeholder="Enter Your OTP" class="form-control" ng-model="ctrl.user.resetCode" required>
                        <input type="password" name="newPassword" placeholder="Enter Your New Password" class="form-control" ng-model="ctrl.user.newPassword" required>
                          <div class="error server-side text-center m-t-md" ng-show="ctrl.responseCB && ctrl.confirmPasswordResetForm.$submitted">
                                 <b>{{ctrl.responseCB}}</b>
                            </div>      
                    <button type="submit" class="forgot-password-btn">Submit</button>
                </form>
            </div>
        </div>    
    </div>
        