<!-- <script>
 !function(f,b,e,v,n,t,s)
 {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
 n.callMethod.apply(n,arguments):n.queue.push(arguments)};
 if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
 n.queue=[];t=b.createElement(e);t.async=!0;
 t.src=v;s=b.getElementsByTagName(e)[0];
 s.parentNode.insertBefore(t,s)}(window, document,'script',
 'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '171342986896442');
 fbq('track', 'InitiateCheckout');
</script> -->
<noscript><img height="1" width="1" style="display:none"
 src="https://www.facebook.com/tr?id=171342986896442&ev=PageView&noscript=1"
/></noscript>
  <style>  
   .add-my-profile label {
     color:black;
   }
.new-address-body {
  max-height: 406px;
  overflow-y: auto;
}    
.modal-head {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}
.model-con {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    position: relative;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
  .my-cart{
  }
.my-cart .product{
  height: 165px;
  width: 222px;
      box-shadow: 4px 5px 15px #f2f2f2;
    border: 1px solid #f2f2f2;
}
/* .my-cart .product img{
      position: absolute;
    left: 25%;
    top: 16%;
} */
.my-cart .product-img{
      padding: 20px 0px;
}
.my-cart .rupy{
  color: #f28433;
      font-size: 19px;
    /* margin-top: 6px; */
    position: relative;
    top: 2px;
}
.my-cart .ship{
  color: #000;
  font-size: 16px;
}
.my-cart .bg{
      background: #fff;
          margin-bottom: 40px;
}
.my-cart .price-details{
      padding-bottom: 10px;
    padding-top: 30px;
}
.my-cart .price-details h5{
  color: #f28433;
  font-size: 17px;
}
.my-cart .product-name{
  float: left;
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
.my-cart .product-price{
   float: right;
  color: #000;
  font-size: 17px; 
  font-weight: bold;  

}
.my-cart .rate{
  box-shadow: 4px 5px 15px #f2f2f2;
    border: 1px solid #f2f2f2;
        padding-bottom: 45px;
}
.my-cart .rate p{
  padding: 10px 30px;
}
.my-cart  p{
  clear: both;
}
.my-cart .view{
      float: right;
    color: #f28433;
    clear: both;
    padding-right: 20px;
    padding-top: 5px;
}
.my-cart .btn{
    background: #12b46a;
    padding: 7px 30px;
    border: 0px;
    color: #fff;
    font-size: 17px;
    margin: 28px 0px;
    width: 123px;
    border-radius: 0px;
 }
.my-cart .btn a{
    color: #fff;
 }
.my-cart .counter {
    float:left;
    margin: 0 0 0 10px;
}
.my-cart .counter .btn1 {
    font-size:12px;
    padding: 15px 20px;
}
.my-cart .counter .count{
      padding: 15px 30px;
          background: #f9f9f9;
}
.my-cart .counter a{
  background: #f2f1ef;
}
.my-cart .jcounter{
      margin: 42px -7px;
}
.my-cart .counter:last-child{
  display: none;
}
.my-cart .delete img{
      margin-top: -10px;
    margin-left: 40px;
}
@media(max-width: 992px){
  .my-cart .jcounter {
      margin: 23px 0px;
  }
  /*.product-desc{
      margin-left: 100px;
  }   */
  .my-cart .product {
    height: 165px;
    width: 159px;
    box-shadow: 4px 5px 15px #f2f2f2;
    border: 1px solid #f2f2f2;
}
  .my-cart .product img {
      position: absolute;
      left: 2%;
      top: 0%;
      width: 22%;
  }
}
@media(max-width: 767px){
  .my-cart .product {
      height: 165px;
      width: 159px;
      box-shadow: 4px 5px 15px #f2f2f2;
      border: 1px solid #f2f2f2;
      margin: auto;
  }
.my-cart .product img {
        position: absolute;
      left: 42%;
      top: 0%;
      width: 17%;
  }
}
.pad-label{
  margin: 10px 0px;
}
.pad-new-add{
  padding: 10px 0px;
}
  </style>
  <div class="container-fluid" ng-init="ctrl.init()" id="full">
      <div class="container my-address my-address-checkout">
      <div class="row">
        <div class="col-md-12">
          <div class="contact">
              <h4><b>Delivery Address</b></h4>
                <div class="address">
                    <address ng-if="ctrl.address">
                      <b>{{ctrl.address.contactName}}</b><br/>
                      {{ctrl.address.streetOne}}, 
                      {{ctrl.address.city}}, {{ctrl.address.state}} - {{ctrl.address.zipCode}}<br/>
                      {{ctrl.address.phone}}<br/>
                      
                    </address>
                    <button ng-if="ctrl.address" class="btn-change-address" data-toggle="modal" data-target="#myModal" ng-click="ctrl.changeAddress()">Change address</button>
                    <button ng-if="!ctrl.address" class="btn-change-address" data-toggle="modal" data-target="#addNewAddressModal"">Add address</button>
                </div>
              </div>
        </div>
        </div>
      </div> 
      
    <div>
        
      <div class="container my-cart" style="background: background: #fff;">
          <h4><b>Review Products</b></h4>
        <div class="product-img" ng-repeat="p in ctrl.cart.products">
          <div class="row">
            <div class="col-md-3">
              <div class="product">
                <img src="{{p.imgurl}}">
              </div>  
            </div>
            <div class="col-md-9">
              <div class="product-desc">
                <p style="font-size: 17px;"><b>{{p.name}}</b></p>
                <p>Qty:&nbsp;{{p.qty}}</p>
                <span class="rupy">{{p.discountedPrice * p.qty | currencySymbol:ctrl.cart.symbol}} </span>&nbsp;&nbsp;
                  <span class="discounted-price" style="text-decoration: line-through;color: #f28433;font-weight: bold;">{{p.price * p.qty | currencySymbol:ctrl.cart.symbol}}</span>
                  <span class="discount-percentage" style="font-size: 80%;">{{p.discountPCT| number : 0}}% off</span>
                </p>
                <p>Delivery: <span>{{p.shippingRate | number : 0}} ({{p.shippingTime}})</span></p>
              </div>
              <div class="jcounter">
            
                </div>
            </div>
          </div>
        </div>

      <div class="price-details">
        <h5>Price details</h5>
        <div class="rate">
          <p><span class="product-name">Total Price ({{ctrl.cart.products.length}} items)</span><span class="product-price">{{ctrl.cart.orderTotal | currencySymbol:ctrl.cart.symbol}}</span></p>
          <p><span class="product-name">Delivery</span><span class="product-price">{{ctrl.cart.shippingTotal | number : 0 | currencySymbol:ctrl.cart.symbol}}</span></p>
          <p><span class="product-name">Amount Payable</span><span class="product-price">{{ctrl.cart.orderTotalWithShipping | currencySymbol:ctrl.cart.symbol}}</span></p>
        </div>
      </div> 
       <div class="row">
          <div class="col-md-12">
            <p style="color:red;"><b>{{ctrl.isDeliveryAddress}}</b></p>
            <p style="color:red;"><b>{{ctrl.contactDetailsError}}</b></p>
            <div>
            <button class="btn" class="btn-change-address" data-toggle="modal" data-target="#myModalPay" style="width: 300px;float: right;" ng-click="ctrl.selectPaymentGateway()">Pay</button>
              <!-- <div class="visa-img">
                <img alt="Visa Checkout" class="v-button" role="button" src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png"/>
              </div> -->
              
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    $(document).ready(function() {
        $("input[type=number]").on("focus", function() {
            $(this).on("keydown", function(event) {
                if (event.keyCode === 38 || event.keyCode === 40) {
                    event.preventDefault();
                }
            });
        });

    });
</script>

  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog add-address-model">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #ff771c;;color: #fff;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="margin-left: 40%;">Select address</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto;height: 260px;">
          <ul>
            <li ng-repeat="address in ctrl.addresses" style="border-bottom: 1px solid;border-bottom-color: #ddd;">
                <input type="radio" name="default" ng-value="1" value="1" ng-model="address.status" ng-init="ctrl.setSelectedAddess(address)" ng-click="ctrl.setSelectedAddess(address)" style="float:right;margin-top: 3%;height: 25px;width: 25px;">
              <h4>{{address.contactName}}</h4>
              <p>{{address.streetOne}},{{address.city}},{{address.state}} - {{address.zipCode}}</p>
              <p>{{address.phone}}</p>
            </li>
          </ul>
          
          <button class="btn" style="width: 30%;margin-left: 38%;background: #12b46a;color: white;margin-bottom: 15px;" ng-click="ctrl.addAddress()">Add address</button>
        </div>
        <div class="modal-footer" style="padding: 0px!important">
          <button class="btn btn-default" style="width:36%;background-color: #39abf3;color: #fff;margin: 25px 31px;" ng-click="ctrl.selectAddress()">Deliver here</button>
          <button type="button" style="width:36%;margin: 25px 31px;" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
  
    </div>
  </div>

  <div id="myModalPay" class="modal fade" role="dialog">
      <div class="modal-dialog" style="">
    
        <!-- Modal content-->
        <div class="modal-content model-con">
          <div class="modal-header modal-head">
          </div>
          <div class="modal-body" style="height: 200px;">
              <div>
                  <!-- <div class="add-gateway-close" data-dismiss="modal">
                    <img src="resources/images/close.png" />
                  </div> -->
                  <div class="payment-gateway">
                    <div class="choose-gateway">
                      <h2>Choose payment gateway</h2>
                      <p class="paypal-gateway"><img src="resources/images/paypal1.png" /><span class="p-p1">Pay With Paypal</span> <input type="radio" value="1" ng-model="ctrl.cart.paymentGateway"/></p>
                      <p class="paytm-gateway"><img src="resources/images/paytm1.png" /><span class="p-p2">Pay With Paytm</span> <input type="radio" value="2" ng-model="ctrl.cart.paymentGateway"/></p>
                    </div>
                    <div class="cancel-payment">
                        <a data-dismiss="modal">Cancel</a>
                    </div>
                    <div class="pay-payment">
                        <a ng-click="ctrl.pay()">Pay</a>
                    </div>
                  </div>
              </div>
          </div>
          
        </div>
    
      </div>
    </div>
  
    <div id="addNewAddressModal" style="font-family: 'Lato', sans-serif !important;" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new address</h4>
          </div>
          <div class="modal-body new-address-body">
            <div class="add-my-profile">
              <form name="addAddressForm" ng-submit="ctrl.saveAddress()" novalidate="" style="margin-bottom: 25px;" >
                  <div class="pad-new-add">
                      <label class="pad-label">Contact Name</label>
                      <input type="text" class="form-control" name="contactName"  ng-model="ctrl.addressDTO.contactName" required ng-class="{ 'has-errors' : addAddressForm.contactName.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.contactName.$invalid">*required field</p>
                  </div>
                  <div class="pad-new-add">
                      <label class="pad-label">Conatct Number</label>
                      <input class="form-control" name="contactNumber" type="number" ng-model="ctrl.addressDTO.phone" required ng-minlength="10" ng-maxlength="10" ng-class="{ 'has-errors' : addAddressForm.contactNumber.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.contactNumber.$invalid">*required field</p>
                  </div>
                  <div class="pad-new-add">
                      <label class="pad-label">Pin Code</label>
                      <input class="form-control" name="zipCode" type="number" ng-model="ctrl.addressDTO.zipCode" required  ng-class="{ 'has-errors' : addAddressForm.zipCode.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.zipCode.$invalid">*required field</p>
                  </div class="pad-new-add">
                  <div class="pad-new-add">
                      <label class="pad-label">House No</label>
                      <input type="text" class="form-control" name="houseNo" ng-model="ctrl.addressDTO.houseNo" required ng-class="{ 'has-errors' : addAddressForm.houseNo.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.houseNo.$invalid">*required field</p>
                  </div>
                  <div class="pad-new-add">
                      <label class="pad-label">Street Code</label>
                      <input type="text" class="form-control" name="streetOne" ng-model="ctrl.addressDTO.streetOne" required ng-class="{ 'has-errors' : addAddressForm.streetOne.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.streetOne.$invalid">*required field</p>
                  </div>
                  <div class="pad-new-add">
                      <label class="pad-label">City</label>
                      <input type="text" class="form-control" name="city" ng-model="ctrl.addressDTO.city" required ng-class="{ 'has-errors' : addAddressForm.city.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.city.$invalid">*required field</p>
                  </div>
                  <div class="pad-new-add">
                      <label class="pad-label">State</label>
                      <input type="text" class="form-control" name="state" ng-model="ctrl.addressDTO.state" required ng-class="{ 'has-errors' : addAddressForm.state.$invalid}" />
                      <p style="color:red;" ng-if="addAddressForm.state.$invalid">*required field</p>
                  </div>
                  <div class="add-new-address contact" style="margin-bottom: 25px;">
                    <p style="font-size: 18px;"><input  type="checkbox" ng-model="ctrl.addressDTO.isResidential"  >Is it a residential address ?</p>
                    <p style="font-size: 18px;" class="default"><input type="checkbox" ng-model="ctrl.addressDTO.status" >Make it your default address ?</p>
                </div>
                  <button class="btn" ng-disabled="addAddressForm.$invalid" type="submit" style="background: #12b46a;color: white;">Save</button>
                  <button style="margin-left: 20px;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
          </div>
          </div>
        </div>
    
      </div>
    </div>

    <div id="contactDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Please enter contact details to continue</h4>
            </div>
            <div class="modal-body">
              <div class="add-my-profile">
                  <form name="contactDetailsForm" ng-submit="ctrl.setUserEmailAndPhone()" novalidate="" >
                      <div>
                          <label>Email</label>
                          <input type="email" class="form-control" placeholder="Email Id" name="email"  ng-model="ctrl.data.email" required ng-class="{ 'has-errors' : contactDetailsForm.email.$invalid}" />
                      </div>
                      <div>
                          <label>Phone</label>
                          <input type="number" placeholder="Phone Number" class="form-control" name="phone"  ng-model="ctrl.data.mobile" required ng-minlength="10" ng-maxlength="10" ng-class="{ 'has-errors' : contactDetailsForm.phone.$invalid}" />
                      </div>
                      <button class="btn" ng-disabled="contactDetailsForm.$invalid" type="submit">Save</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>    
              </div>
            </div>
          </div>
      
        </div>
      </div>