
  <style>
 


.contactus form{
      width: 100%;
     margin-top: -3px;
      
}
.contactus input[type="email"],.contactus input[type="number"],.contactus input[type="text"],.contactus input[type="phone"],.contactus input[type="date"]{
            border: 0px solid #fff;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 0px 0px rgba(0,0,0,0);
        border-radius: 0px;
        margin: -10px 0px 15px 0px;
        padding: 25px 0px;
        color: #000;
        font-size: 16px;
        
      }
.contactus input[type="radio"]{
    height: 27px;
    width: 44px;
        position: relative;
    top: 9px;
    left: -5px;
}   
.contactus .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,), 0 0 0px rgba(0,0,0,0);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px rgba(0,0,0,0);
}   
.contactus label{
  color: #a7a8b5;
  font-size: 14px;
  font-weight: normal;
}   
.contactus form p{
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
   margin-bottom: 30px;
} 
.contactus form p label{
  color: #000;
  font-size: 16px;
 
}  
.contactus .male{
      padding: 0px 68px 0px 0px;
}
.contactus button{
         background: #12b46a;
    padding: 10px 37px;
    border: 0px;
    color: #fff;
    font-size: 17px;
    margin: 30px 0px; 
 }
 .contactus .info{
        padding: 32px 72px;
    background: #f5f5f5;
        margin: 30px 0px;
        border: 1px solid #e2e2e2;
 }
 .contactus .info p{
        color: #15173b;
    font-size: 16px;
 }
 .contactus select{
    background: #f4f0ed !important;
    border-radius: 0px !important;
    
        color: #f28433 !important;
    height: 49px !important;
    border: 0px;
 }
 .contactus .contact{
    margin-top: 30px;
 }
 .contactus .contact p{
  background: #f4f0ed;
    padding: 15px 20px;
 }
 .contactus .address{
        border: 1px solid #e2e2e2;
    margin: 25px 0px;
 }
 .contactus .address p{
        background: transparent;
    padding: 15px 63px 0px 63px; 
    color: #f28433;
        font-size: 16px;
    font-weight: 600;
 }
 .contactus .address img{
        position: absolute;
    top: 35%;
    left: 9%;
 }
 .contactus .email p{
  background: transparent;
  border: 1px solid #e2e2e2;
 }
 .contactus address{
    padding: 0px 64px;
 }
 .contactus .email p span{
    padding: 0px 19px;
 } 
 .contactus{
  background: #fff;
 }
 @media(max-width: 992px){
    .contactus .email p {
        padding: 10px 1px;
}

.contactus address {
    padding: 0px 11px;
}
 }
 @media(max-width: 767px){
  .contactus .address img {
    position: absolute;
    top: 34%;
    left: 6%;
}
.contactus address {
    padding: 6px 56px;
}
.contactus .email {
    width: 94%;
    margin: 25px 20px 73px auto;
}
.contactus .row{
  display: block;
}
 }
 .contactus .my-profile{
    
      background-color: #fff;
      margin-top: 35px;
      margin-bottom: 35px
  }
  </style>
</head>
<body>
  <div class="container-fluid">

    <div>
      <div class="container contactus" id="full">
          <div class="row">
            <div class="col-md-8">
                <p style="margin-top: 3%;color: green;"><b>{{ctrl.notificationText}}</b></p>
              <div class="info">
              <p>We would love to hear from you. Please provide us your valuable feedback. You can also contact us if you are facing problem accessing the site. Please select appropriate subject and send it to us.</p>
              </div>
              <form  name="UserForm" ng-submit="ctrl.ContactUs()" novalidate="" >
              <select placeholder="Subject" class="form-control" ng-model="ctrl.user.statusCode" ng-options="count.name as count.name for count in ctrl.countList">
              <option disabled="true" value="">Subject</option>
              </select>
              <div class="my-profile">
                
                  <label>Your Name</label>
                  <input name="name" type="text" class="form-control" ng-model="ctrl.user.name" ng-class="{ 'has-errors' : UserForm.name.$invalid}" required />
                  <label>Email</label>
                  <input name="email" type="email" class="form-control" ng-model="ctrl.user.email"  ng-class="{ 'has-errors' : UserForm.email.$invalid && !UserForm.email.$pristine}"  required/>
                  <label>Phone</label>
                  <input style="margin: 0px 0px 0px 0px;" name="mobile" placeholder="Mobile" type="number" class="form-control" ng-model="ctrl.user.mobile" ng-minlength="10" ng-maxlength="10" ng-class="{ 'has-errors' : UserForm.mobile.$invalid}" required />
                  <label style="margin-top:15px;">Gender</label>
                    <p>
                    <span class="male">
                      <input type="radio" ng-model="ctrl.user.gender" ng-value="'M'" /><label>Male</label>
                    </span>
                    <span class="female">
                      <input type="radio" ng-model="ctrl.user.gender" ng-value="'F'" /><label>Female</label>
                    </span>
                  </p>
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" ng-model="ctrl.user.dob" /> 
                  <button ng-disabled="UserForm.$invalid" type="submit">Contact us</button>
                </form>
              </div>  
            </div>
            <div class="col-md-4">
              <div class="contact">
                <p style="font-size: 18px;">Where you can find us?</p>
                <div class="address">
                <img src="resources/images/location.png" />
                 <p><span>DUQHAN E-COMMERCE INDIA PRIVATE LIMITED</span></p>
                    <address style="font-size: 15px;">
                      16-11-20/e/2, SALEEM NAGAR,<br/>
                      HYDERABAD,  Telangana,<br/>
                      India 500036
                    </address>
                </div>
                <div class="email">
                  <p><img src="resources/images/email.png"/><span>admin@duqhan.com</span></p>
                </div>
              </div>
            </div>
            </div>
      </div>
    </div>
  </div>
<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="required">
      <i class="ion-information-circled"></i> This field is required!
    </div>
    <div class="error" ng-message="email">
      <i class="ion-information-circled"></i> This is not a valid email!
    </div>
    <div class="error" ng-message="number">
      <i class="ion-information-circled"></i> This is not a valid mobile number!
    </div>
    <div class="error" ng-message="minlength maxlength">
      <i class="ion-information-circled"></i> Mobile number should be 10 digits!
    </div>
</script>
 <style type="text/css">
    .css-form input.ng-invalid.ng-touched {
      background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
      background-color: #78FA89;
    }
    .error-container {
      margin: 5px 0;
    }

    .error-container:last-child {
      margin: 5px 0 0;
    }

    .error {
      padding: 0px 16px;
      font-family: "Facit Light";
      font-size: 11px;
      color: #ef473a;
      line-height: 14px;
      text-align: right;
    }

    .error.server-side {
      font-size: 14px;
      line-height: 14px;
    }


    .error i {
      font-size: 14px;
      color: #ef473a;  
      line-height: 14px;
    }

    .last-error-container > .error {
      padding: 10px 16px 0;
    }

    .has-errors {
      border-bottom: 1px solid #ef473a !important;
    }

    .no-errors {
      border-bottom: 1px solid #000 !important;
    }

    .info-message {
      font-family: "Facit Light";
      font-size: 14px;
      color: #33cd5f;
      line-height: 14px;
      text-align: center;
      margin: 10px 16px;

    }

    .info-message i {
      font-size: 14px;
      color: #33cd5f;  
      line-height: 14px;
    }
</style>
</body>
</html>
