 <div class="animation-element bounce-up cf">
         <div id="footer" class="container-fluid  subject">
            <div class="container ">
               <div class="col-md-4">
                  <div class="secFt1">
                     <h5>About duqhan</h5>
                     <p> Duqhan is an eCommerce platform that lets user shop millions of products at deep discounts on their mobile phone. We have over 300 million usera across the world,from Russia to Brazil to the united States to the far corners of the globe,and they love our product.We are the sixth largest eCommerce company in world company in the world and we're shooting for #1.</p>
                     <div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="secFt1">
                     <h5>IMPORTANT LINKS</h5>
                     <ul class="">
                        <li><a ui-sref="store.aboutus"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                        <li><a ng-if="menu.guest" ui-sref="store.orderhistory"><i class="fa fa-angle-double-right"></i>My Order</a></li>
                        <!-- <li><a><i class="fa fa-angle-double-right"></i>Privacy</a></li> -->
                        <li><a ui-sref="store.contactus"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                        <li><a ui-sref="store.customersupport"><i class="fa fa-angle-double-right"></i>Customer Supports</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="secFt1">
                     <h5>CONTACT INFO</h5>
                     <ul class="">
                        <li><a><i class="fa fa-map-marker" aria-hidden="true"></i><span style="margin-left:13px"><span>16-11-20/e/2, SALEEM NAGAR, HYDERABAD,</span><span>Telangana,India 500036</span></span></a></li>
                        <li><a><i class="fa fa-envelope-o" aria-hidden="true" ></i><span style="margin-left:7px">admin@duqhan.com</span></a></li>
                     </ul>
                     <div class="social-links">
                        <ul>
                           <li><a href="#"><i class="fa fa-google-plus-square" style="margin:0px;color: #f28737"></i></a></li>
                           <li><a href="https://www.facebook.com/Duqhaan/" target="_blank"><i class="fa fa-facebook-square" style="margin:0px;color: #f28737"></i></a></li>
                           <li><a href="https://twitter.com/duqhanapp" target="_blank"><i class="fa fa-twitter-square" style="margin:0px;color: #f28737"></i></a></li>
                           <li><a href="#"><i class="fa fa-youtube" style="margin:0px;color: #f28737"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ft-bottom">
         <div class="">
            <div class="footer-bottom ">
               <div class="col-md-12">
                  <p> &copy; 2018 Duqhan.All Rights Reserved</p>
               </div>
            </div>
         </div>
      </div>