<div class="container">
    <div class="forgot-password">
        <div class="forgot-password-info">
            <div class="rev">
                <a href="#/login"><img src="resources/images/rev.png" alt="rev"></a>
            </div>
            <div class="forgot-password-logo">
                <img src="resources/images/forgot-img.png" alt="pop-imag" />
            </div> 
            <p style="text-align: center;font-size: 14px;color: #000;font-weight: bold;padding-top: 25px;">Forgot Password</p>
            <p style="text-align: center;font-size: 14px;">We just need your registered Email id<br/> 
            to send you password reset instructions.</p>
            <form name="ctrl.requestPasswordResetForm" ng-submit="ctrl.requestPasswordReset()" novalidate="">
                    <input type="email" placeholder="Enter Your Email" class="form-control" ng-model="ctrl.user.email" required>
                      <div style="color: red;" class="error server-side text-center m-t-md" ng-show="ctrl.responseCB && ctrl.requestPasswordResetForm.$submitted">
                             <b>{{ctrl.responseCB}}</b>
                        </div>      
                <button type="submit" class="forgot-password-btn">Submit</button>
            </form>
        </div>
    </div>    
</div>
    