
  <style>

#main {
    transition: margin-left .5s;
        
  
}

 .bg{
      
      background: #fff;
 }
 .customer1{
        border: 1px solid #f2f2f2;
    padding: 0px 20px;
    margin: 5px 0;
 }
 .customer1 h2{
        font-size: 17px;
    
    margin-bottom: 0px;
    font-weight: 600;
 }
 .customer1 p{
        font-size: 16px;
    /* font-weight: 700; */
    /* border-bottom: 1px solid #f2f2f2; */
    padding: 10px 0px;
    
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <div class="customer1"><h2>How Can I Create Account?</h2>
          <p>You can create account on Duqhan By using email address or facebook. We recommend using one of these Methods for a more personalized shopping experience </p>
          </div>
          <div class="customer1"><h2>How Do I Reset My Password ?</h2>
          <p>To change your password Please follow this step . Tap the menu at the top , left hand side of the screen tap my password then enter your old password and new password then click on button</p>
          </div>
          <div class="customer1"><h2>What If I Forgot My Password ?</h2>
          <p>Reset your password , please follow this steps . Tap signin and forgot password to reset it </p>
          </div>
          <div class="customer1"><h2>What Should I Do If I Think My Account Was Hacked ?</h2>
          <p>If you think your account was hacked , please contact your Customer support team</p>
          </div>
          <div class="customer1"><h2>How Do I Delete My Account?</h2>
          <p>If your account is registered through facebook you can disable Duqhan facebook privileges . Open your facebook app - under the more icon select setting - account setting - select apps -select logged in with facebook -select Duqhan and remove app</p>
          </div>
          <!-- <p ui-sref="store.customerSupportQuestions">Price Changed<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p> -->
        </div>  
      </div>
    </div>
  </div>