  <div class="container-fluid">
  

    <div id="main">
     
      <div class="container bg-color" id="full">
        <div class="row product-detail">
          <div class="col-md-6 details-11">
            <div class="slider">
              <div class="slide_viewer">
                <div class="slide_group">
                  <div class="slide">
                    <img src="images/new-product1.png" />
                  </div>
                  <div class="slide">
                    <img src="images/new-product1.png" />
                  </div>
                  <div class="slide">
                    <img src="images/new-product1.png" />
                  </div>
                  <div class="slide">
                    <img src="images/new-product1.png" />
                  </div>
                </div>
              </div>
            </div><!-- End // .slider -->
            <div class="slide_buttons">
            </div>

          </div>
          <div class="col-md-6 respon">
            <div class="info">
               <p style="font-size: 21px;"><b>European New Fashion  Jewelry Choker
                Necklace Jewellery ipsum Lorem</b></p>
                <span class="price">200</span> 
            </div>
            <div class="desc1">
                <b>Size</b>
                <p><span class="s">S</span><span class="m">M</span><span class="l">L</span> </p>
            </div> 
            <div class="speci">
                <b>Color</b>
                <p><span class="black"></span><span class="red"></span><span class="gray"></span> </p>
            </div>
            <div class="safe">
                <div class="safe-desc">
                <span>We guarantee a safe and secure shopping 
                experience so you never have to worry.</span>
                </div>
                <div class="safe-logo">
                  <img src="images/safe-logo.png" />
                </div>
            </div>
            <div class="add-btn">
              <button type="button">Add to Cart</button>
             </div> 
          </div>
        </div>
     <!--  </div>
      <div class="container"> -->
      <ul class="nav nav-tabs product-nav">
        <li class="active"><a data-toggle="tab" href="#home">Details</a></li>
        <li><a data-toggle="tab" href="#menu1">Review</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="tab-desc">
            <h1>Description</h1>
            <p>European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace
            European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace
            European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace</p>
          </div>
          <div class="specification">
            <h1>Specification</h1>
            <ul>
              <li>Style<span class="pr-desc">Trendy</span></li>
              <li>Item Type<span class="pr-desc">Necklaces</span></li>
              <li>Mentals Type<span class="pr-desc">Zinc Alloy</span></li>
              <li>Modal Number<span class="pr-desc">343</span></li>
              <li>Brand Name<span class="pr-desc">RNAFASHION</span></li>
              <li>Fine or Fashion<span class="pr-desc">Fashion</span></li>
              <li>Gender<span class="pr-desc">Male</span></li>
              <li>Earning Type<span class="pr-desc">Stud Earrings</span></li>
            </ul> 
          </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="review_details">
            <p class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            <p><b>By</b>&nbsp;<span class="customer">Customer</span>&nbsp;<span class="date">on 25 February 2017</span></p>
            <p style="font-size: 17px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace
            European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace</p>
          </div>  
          <div class="review_details">
            <p class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            <p><b>By</b>&nbsp;<span class="customer">Customer</span>&nbsp;<span class="date">on 25 February 2017</span></p>
            <p style="font-size: 17px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace
            European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace</p>
          </div>  
          <div class="review_details">
            <p class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
            <p><b>By</b>&nbsp;<span class="customer">Customer</span>&nbsp;<span class="date">on 25 February 2017</span></p>
            <p style="font-size: 17px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace.European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace
            European New Fashion Jewelry Choker Necklace Small Triangular Necklace Cute Statement Necklace</p>
          </div> 
          <button class="btn">Write a review</button> 
        </div>
      </div>  
      </div>  
    </div>
  </div>
