
  <style>

#main {
    transition: margin-left .5s;
        overflow: -webkit-paged-x;
  
}

 .bg{
      height: -webkit-fill-available;
      background: #fff;
 }
 .customer1{
        border: 1px solid #f2f2f2;
    padding: 0px 20px;
    margin: 5px 0;
 }
 .customer1 h2{
        font-size: 17px;
   
    margin-bottom: 0px;
    font-weight: 600;
 }
 .customer1 p{
        font-size: 16px;
    /* font-weight: 700; */
    /* border-bottom: 1px solid #f2f2f2; */
    padding: 10px 0px;
    
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <div class="customer1"><h2>How Do I Get Help With My Order?</h2>
          <p>For assistance, please contact our Customer support team</p>
          </div>
          <div class="customer1"><h2>Why is My Order History Empty?</h2>
          <p>If your order history is empty ,it probably means your charges were declined when you tried to place your order this means that we never actually accept payment for your order .if you do not see your purchase in order history please make sure you are logged into the correct account</p>
          </div>
          <div class="customer1"><h2>Why Did not My Order Go Through?</h2>
          <p>If your order did not go through or does not appear in your order history ,it probably means your PAYPAL was declined </p>
          </div>
          <div class="customer1"><h2>Where Can I Find an Invoice for My Order</h2>
          <p>You can find your  order invoice in your Orders history page</p>
          </div>
          
          <!-- <p ui-sref="store.customerSupportQuestions">Price Changed<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p> -->
        </div>  
      </div>
    </div>
  </div>