
  <style>

#main {
    transition: margin-left .5s;
        overflow: -webkit-paged-x;
  
}

 .bg{
      height: -webkit-fill-available;
      background: #fff;
 }
 .customer1{
        border: 1px solid #f2f2f2;
    padding: 0px 20px;
    margin: 5px 0;
 }
 .customer1 h2{
        font-size: 17px;
    margin-bottom: 0px;
    font-weight: 600;
 }
 .customer1 p{
        font-size: 16px;
    /* font-weight: 700; */
    /* border-bottom: 1px solid #f2f2f2; */
    padding: 10px 0px;
    
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <div class="customer1"><h2>What Payment Method Does Duqhan Accept?</h2>
          <p>We currency accept payments through the following Payment providers. PAYPAL - www.paypal.com/home . we can not accept cash ,bank transfer ,or Payment installments </p>
          </div>
          <div class="customer1"><h2>What Currency Does Duqhan Sell in?</h2>
          <p>The order will be charged in INR and will be shown during checkout</p>
          </div>
          <div class="customer1"><h2>Does Duqhan Charge for Customs Taxes, VAT, or any Other Extra Fees?</h2>
          <p>Duqhan only charges for purchase price and shipping rate. We do not collect any payment for customers ,taxes, VAT ,currency conversion rates ,or any other fees and can not reimburse any extra charges</p>
          </div>
          <div class="customer1"><h2>How Do I Delete My Credit Card or Payment Information?</h2>
          <p>Your billing information is completely secure on paypal website</p>
          </div>
          <div class="customer1"><h2>How Do I Get a Free Gift?</h2>
          <p>The free gift currently not available</p>
          </div>
          <!-- <p ui-sref="store.customerSupportQuestions">Price Changed<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p> -->
        </div>  
      </div>
    </div>
  </div>