
  <style>

#main {
    transition: margin-left .5s;
        overflow: -webkit-paged-x;
  
}

 .bg{
      height: -webkit-fill-available;
      background: #fff;
 }
 .customer1{
        border: 1px solid #f2f2f2;
    padding: 0px 20px;
    margin: 5px 0;
 }
 .customer1 h2{
        font-size: 17px;
    margin-bottom: 0px;
    font-weight: 600;
 }
 .customer1 p{
        font-size: 16px;
    /* font-weight: 700; */
    /* border-bottom: 1px solid #f2f2f2; */
    padding: 10px 0px;
    
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <div class="customer1"><h2>Payment Declined</h2>
          <p>Here are a few common reasons why your PAYPAL may have been declined. you have insufficient funds, also for your convenience ,your order will not go through if the product is unable to ship to your country</p>
          </div>
          <div class="customer1"><h2>Price Changed</h2>
          <p>Many products on Duqhan are listed with various options for size and color and our merchant have the option to sell these variations at different prices. Duqhan functions like a global shopping mall with stores around the world. Different stores may have similar items for sale and each store may list those items at different prices this means that stores compete to give you the best deals</p>
          </div>
          <!-- <p ui-sref="store.customerSupportQuestions">Price Changed<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p> -->
        </div>  
      </div>
    </div>
  </div>