
  <style>

#main {
    transition: margin-left .5s;
        overflow: -webkit-paged-x;
  
}

 .bg{
      height: -webkit-fill-available;
      background: #fff;
 }
 .customer1{
        border: 1px solid #f2f2f2;
    padding: 0px 20px;
    margin: 5px 0;
 }
 .customer1 h2{
        font-size: 17px;
    margin-bottom: 0px;
    font-weight: 600;
 }
 .customer1 p{
        font-size: 16px;
    /* font-weight: 700; */
    /* border-bottom: 1px solid #f2f2f2; */
    padding: 10px 0px;
    
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <div class="customer1"><h2>How Do I Return a Product?</h2>
          <p>You can initiate a return from the order history page.</p>
          </div>
          <div class="customer1"><h2>Can I Exchange an Item?</h2>
          <p>Unfortunately we currently do not offer item exchange</p>
          </div>
          <div class="customer1"><h2>How Do I Cancel My Order?</h2>
          <p>You can cancel the order from order history page, depending upon if the order has been shipped.</p>
          </div>
          <!-- <p ui-sref="store.customerSupportQuestions">Price Changed<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p> -->
        </div>  
      </div>
    </div>
  </div>