
  <style>

#main {
    transition: margin-left .5s;
        overflow: -webkit-paged-x;
  
}

 .bg{
      height: -webkit-fill-available;
      background: #fff;
 }
 .customer1{
        border: 1px solid #f2f2f2;
    padding: 0px 20px;
    margin: 5px 0;
 }
 .customer1 h2{
        font-size: 17px;
    margin-bottom: 0px;
    font-weight: 600;
 }
 .customer1 p{
        font-size: 16px;
    /* font-weight: 700; */
    /* border-bottom: 1px solid #f2f2f2; */
    padding: 10px 0px;
    
 }
 .customer{
    padding: 25px 0px;
 }

  </style>

  <div class="container-fluid">

    <div>
      <div class="container bg" id="full">
        <div class="customer">
        
          <div class="customer1"><h2>How Long Does Shipping Take?</h2>
          <p>Orders typically ship within 1-2 days. Shipping times vary based on the individual store and destination to view estimate shipping times for your orders, please visit the order history page.For more information. You can track your package delivery progress at any time from this area.</p>
          </div>
          <div class="customer1"><h2>How Can I Track My Order?</h2>
          <p>If you want to check the delivery status of your order, you can find the most updated tracking information by visiting the Orders history page Tab to view yours order estimate date of arrival and tracking history. Please note depending on how the merchant ships your order, there may not be tracking information available. If you have any other question about the status of your order, you can contact our customer service team from your order history section</p>
          </div>
          <div class="customer1"><h2>How Much Does Shipping Cost?</h2>
          <p>We strive to maintain low shipping costs. The shipping price associated with each item is displayed at checkout. The cost varies depending on the size, weight and destination of your order. Since items may ship from multiple merchants shipping costs are applied separately by item ordered</p>
          </div>
          <div class="customer1"><h2>How Much Does Shipping Cost?</h2>
          <p>Duqhan is a global platfrom connecting customer with Merchants. Your order could ship from a variety of locations depending on merchant</p>
          </div>
          <!-- <p ui-sref="store.customerSupportQuestions">Price Changed<b style="color: #ff771c;;float: right;font-size: 15px;">&#9002;</b></p> -->
        </div>  
      </div>
    </div>
  </div>