<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="profile">
      <img src="resources/images/pic.jpg" alt="profile" />
     </div> 
     <p class="name">Tom Micky</p>
     <div class="menu">
       <ul style="list-style-type: none;">
          <li><img src="resources/images/latest.png"/><a ui-sref="store" >Latest</a></li>
          <li><img src="resources/images/address.png"/><a href="#">Fashion</a></li>
          <li><img src="resources/images/profile.png"/><a ui-sref="store.profile">My Profile</a></li>
          <li><img src="resources/images/address.png"/><a href="my_address.html">My Addresses</a></li>
          <li><img src="resources/images/lock.png"/><a ui-sref="store.mycart">My Cart</a></li>
          <li><img src="resources/images/myorder.png"/><a href="my_order.html">My Order</a></li>
          <li><img src="resources/images/headphone.png"/><a href="#">Customer Support</a></li>
          <li><img src="resources/images/info.png"/><a href="#">About Us</a></li>
       </ul>
      </div> 
  </div>
  <!-- <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
    }
    </script> -->
