<ion-footer-bar align-title="center" class="bar-energized" style="bottom: 0;">
  <div class="row" style="padding-top: 0;">
    <div class="col">
      <div class="buttons">
        <button class="button button-clear button-light" ui-sref="aboutus" style="margin-right: 10px;">About Us</button>
        <button class="button button-clear button-light" ui-sref="contactus" style="margin-right: 10px;">Contact Us</button>
        <button class="button button-clear button-light" ui-sref="returnPolicy" style="margin-right: 10px;">Return Policy</button>
        <button class="button button-clear button-light" ui-sref="privacyPolicy" style="margin-right: 10px;">Privacy Policy</button>
        <button class="button button-clear button-light" ui-sref="termsConditions">Terms & Conditions</button>
      </div>
    </div>
    <div class="col text-right">
      <div class="buttons">
        <button class="button button-clear button-light">&copy; 2017-18 DUQHAN E-COMMERCE INDIA PRIVATE LIMITED</button>
      </div>
    </div>
  </div>
</ion-footer-bar>