<ion-view view-title="Return Policy">
  <ion-content class="padding has-footer" overflow-scroll="true">
    <div class="row responsive-lg">
      <div class="col">
        <ion-list>
          <ion-item class="item item-divider">
            Return Policy
          </ion-item>
          <ion-item class="item item-text-wrap">
            <p>We want you to be completely satisfied with your purchase on Duqhan and our family of apps. Our 5-Star Guarantee
              means we're committed to providing customers with the most delightful shopping experience possible. We're always
              available and happy to help with any questions. If you need to request a refund, please contact our Customer
              Support Team within 30 days of delivery.</p>
            <h1>How does the return policy work?</h1>
            <p>To start a return, the button below will direct you to your Order History page. From there, simply choose the
              relevant item(s) and click on 'Customer Support' to communicate directly with our customer service team.</p>
            <br/>
            <ul>
              <li>1. Customers may request a refund on any order within 30 days of delivery.</li>
              <li>2. Our customer service team strives to respond to all requests within 72 hours or less. We're always available
                to help!</li>
              <li>3. Once an order has been placed, if you change your mind, you may cancel your order within the Order History
                section before it's been shipped.</li>
              <li>4. After an item has shipped, if you’re unsatisfied for any reason, you can always contact us for further assistance.</li>
            </ul>
            <h1>How will I receive my refund?</h1>
            <ul>
              <li>1. Refunds are processed back to the original payment method used to purchase the order.</li>
              <li>2. Typically, you can expect your payment provider to credit you for your refund within 14 business days. If
                you are having trouble locating your refund, we recommend contacting your payment provider for further assistance.</li>
              <li>3. If you used OXXO or Boleto, Ebanx will issue your refund based on your payment method.</li>
              <li>4. All Duqhan gift cards are valid as a one-time use only. We unfortunately cannot credit Duqhan gift cards
                back to your account once they’ve been used.</li>
              <li>5. Duqhan does not provide reimbursement for costs related to return shipping, customs fees, taxes, postal
                fees or VAT related costs.</li>
            </ul>
            <h1>How are my promotions applied?</h1>
            <ul>
              <li>1. The balance and expiration date of a Duqhan gift card may be viewed in the Rewards section of your account.
                It will automatically be applied to the cost of your next order for all eligible products.</li>
              <li>2. Duqhan gift cards cannot be applied to shipping costs. Gift cards expire at midnight on the expiration date.</li>
              <li>3. Promotions are limited time offers and valid based on the terms of the offer. Promotions are not reissued
                once they have expired.</li>
            </ul>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <div ng-include="'auth/templates/footer.html'"></div>
</ion-view>